Django
channels
channels-redis
asgiref
daphne
celery

djangorestframework
markdown
django-filter
djangorestframework-simplejwt
django-oauth-toolkit
PyJWT
django-cors-headers

python-dotenv

mkdocs

psycopg2
pymongo
urllib3

gunicorn
watchdog[watchmedo]